html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
	body
		include ../../components/header/header.pug
		h1 Hello, {name}!
		p You number: {number}
		.slides.owl-carousel
			.slides__item item one
			.slides__item item two
			.slides__item item three
			.slides__item item four
			.slides__item item five
			.slides__item item six